<!doctype html>
<html ng-app="GifFinder">
  <head>
      <title>Battle of the GIFs!</title>
      <link rel="icon" href="http://rs253.pbsrc.com/albums/hh44/Gavener_Purl/poptart1red1.gif~c200">
      <link rel="stylesheet" href="main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
      <script src="Giphyapi.js"></script>
  </head>
  <body>
    <div ng-controller="FirstController">
        <div id=inputdata>
            <span>Search by subject:</span>
            <input type="text" ng-model="Subject">
            <button ng-click='StartBattle()'>Start the Battle!</button>
        </div>
        <p id=giftext>Which gif will you pick? Click on the gif to make the choice!</p>
        <div id="GIFone" ng-click='PickOne()'>
            <img src={{gifone}} class="GIF">
        </div>
        <div id="GIFtwo" ng-click='PickTwo()'>
            <img src={{giftwo}} class="GIF">
        </div>
    </div>
      <img id='attribution' src="img/GIPHY%20Attribute.gif?5">
  </body>
</html>